
*.class
.idea/
.idea
.classpath
.project


/bin/
/out/
/cmake-build-debug/
*.ser
*.iml
*.xml
a.hex
*.o
*.exe
*.obj
*.bin
*.exe.stackdump
*.lst
*.asm
*.stackdump
*.out
CMakeLists.txt
CMakeLists.txt
./cmake-building-debug

